
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Sour Gummy", sans-serif
  }
 
nav {
    background-color: #c883e4;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around; 
  }
  
  li {
    text-align: center;
  }
  
  a {
    color: #751196;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 0; 
  }
  .info-box {
    background-color: #f4f4f4;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.info-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 16px;
    color: #555;
}
 
body {
    font-family: "Sour Gummy", sans-serif;
    background-color: #afaffd;
   
}

header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    color: #751196;
    font-family:"Sour Gummy", sans-serif;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 30px 30px rgba(85, 4, 101, 0.1);
    margin-bottom: 30px;
    margin-left: 200px;
    max-width: 550px;
    
   
}

h2 {
    color: #0d010d;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #db6ec5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c781e8;
}

.envelopes-container {
    max-width: 600px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    padding: 0%;
    background-color:none
    margin-bottom: 10px;
    border: 0pxsolid #ccc;
    border-radius:none;
    font-size: 16px;
}

.side-image {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 700px; 
    height: 700px; 
    
}


.right {
    right: 0; 
}
