
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #afaffd;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #751196;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 30px 30px rgba(85, 4, 101, 0.1);
    margin-bottom: 30px;
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    color: #0d010d;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #db6ec5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.envelopes-container {
    max-width: 600px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.side-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px; 
    height: 200px; 
}

.left {
    left: 0; 
}

.right {
    right: 0; 
}
